header {
  width: 100%;
  padding-top: 20px;
  background-color: white;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
  font-weight: 800;
}

.logo img {
  height: 70%;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content .info {
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 2px solid #a78bfa;
  text-align: right;
  line-height: 24px;
}
.telnum {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.telnum h1 {
  font-size: 27px;
  margin: 0px;
  padding: 0px;
  font-weight: 800;
  line-height: 40px;
}
.telnum h2 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header__bottom {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.header__bottom nav {
  display: flex;
  gap: 20px;
}
.header__bottom nav li {
  list-style: none;
}
.header__bottom nav li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.header__bottom nav li a:hover {
  color: #8b5cf6;
}

.header__bottom button {
  height: 44px;
  width: 196px;
  background-color: #8b5cf6;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.header__bottom button:hover {
  cursor: pointer;
}
