footer {
  width: 100%;
  padding-top: 20px;
  background-color: #111827;
  color: white;
  margin-top: 40px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
  font-weight: 800;
}

.logo img {
  height: 70%;
}

.logo-copyright p {
  font-size: 12px;
  padding-top: 5px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content .info {
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 2px solid #a78bfa;
  text-align: right;
  line-height: 24px;
}
.telnum {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.telnum h1 {
  font-size: 27px;
  margin: 0px;
  padding: 0px;
  font-weight: 800;
  line-height: 40px;
}
.telnum h2 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer__bottom {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.footer__top nav {
  display: flex;
  gap: 20px;
}
.footer__top nav li {
  list-style: none;
}
.footer__top nav li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.footer__top nav li a:hover {
  color: #8b5cf6;
}

.footer__bottom button {
  height: 44px;
  width: 196px;
  background-color: #8b5cf6;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer__bottom button:hover {
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom-left {
  font-size: 12px;
  color: #4b5563;
}

.footer__bottom-right {
  font-size: 12px;
  color: #6b7280;
}
