.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
button {
  height: 44px;
  background-color: #8b5cf6;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

input {
  width: 100%-20px;
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  padding: 3px 10px;
}

#application {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  border-radius: 16px;
  align-items: center;
  padding: 40px;
}

.application-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 33%;
}
#application h2 {
  padding-bottom: 20px;
  font-weight: 700;
}

.application-form .big {
  grid-column: 1 / -1;
  height: 90px;
}

.application-form button {
  grid-column: 1/-1;
  width: 100%;
}
